{% extends "layout.html.twig" %}

{% block title %}
	Passer en admin
{% endblock %}

{% block content %}
	<h1>Passez en admin l'utulisateur {{ user.nom ~ '' ~ user.prenom }} :</h1>
	<h3>Veuillez saisir le code secret pour confirmer l'action :</h3>
	{{ form(formAdmin) }};
{% endblock content %}