{% extends "layout.html.twig" %}

{% block title %}
    Ajout des catégories
{% endblock %}

{% block content %}<br>
        <h1>Ajout d'une catégorie</h1>

        {{ form(formCategory) }}
{% endblock %}