{% extends "layout.html.twig" %}

{% block title %}
	error 403
{% endblock %}

{% block content %}
	<div class="m-5 p-5 text text-center alert alert-danger">
		<h4>L'url indiqué n'existe pas.</h4>
		<p>Conactez l'administrateur du site au 0892 54 53 52 <small>0,9 €/min</small</p>
	</div>
{% endblock %}